<div id="contactView" class="container text-center">
    <table class="table table-striped">

        <tr>
            <th>Nome</th>
            <td id="name">

            </td>
        </tr>

        <tr>
            <th>Email</th>
            <td id="email">
                
            </td>
        </tr>

        <tr>
            <th>Password</th>
            <td id="pwd">

            </td>
        </tr>

        <tr>
            <th>CEP</th>
            <td id="cep">

            </td>
        </tr>

    </table>
</div>