<div class="curriculo jumbotron text-center mb-0">
    <div class="cabecalho container" id="particao">
        <img class="perfil" src="../assets/img/eu.png">
        <div class="sobre lead">
            <h3 class="jumbotron-heading">Sobre mim:</h3>
            <p>Me chamo Marcos Cardos Nicolau, nasci na cidade de Torres-RS e atualmente moro em Três Cachoeiras-RS</p>
            <p>Por que estudar Programação? essa duvida persistiu em mim durente todo o periodo academico, enfim achei uma resposta descente: 
                Criar algo, dar vida a uma aplicação, e uma das partes mais importante de ser um programador, 
                este foi o principal motivo em continuar na vocação e me dedicar a aprender diversas linguagens e teclogias
            </p>
        </div>
    </div>
    <div class="all-timeline">

        <div class="top-section">
            <h2>Animated Timeline</h2>
                <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio est beatae ut facere debitis obcaecati 
                suscipit numquam temporibus saepe, repellat deleniti ducimus alias blanditiis nulla animi iusto minima 
                quae nesciunt aperiam rerum dicta velit dolorem eveniet. Omnis ipsam aliquam repudiandae, tempora ipsa 
                animi unde suscipit vitae quod voluptatum, mollitia maxime eum voluptates fuga deleniti.
            </p>
        </div>
        
        <div class="timeline">
            <div class="center-line">
                <a href="#" class="scroll-icon"><i class="fas fa-caret-up"></i></a>
            </div>

            <div class="row row-1">
                <section>
                    <i class="icon fab fa-html5"></i>
                    <div class="details">
                        <span class="title">HTML</span>
                        <span>- 90%</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem aliquam, officiis tenetur rerum ratione ad quos quidem doloribus odit, nesciunt corrupti maxime deserunt alias!</p>
                </section>
            </div>
    
            <div class="row row-2">
                <section>
                    <i class="icon fab fa-css3-alt"></i>
                    <div class="details">
                        <span class="title">CSS</span>
                        <span>- 80%</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem aliquam, officiis tenetur rerum ratione ad quos quidem doloribus odit, nesciunt corrupti maxime deserunt alias!</p>
                </section>
            </div>

            <div class="row row-1">
                <section>
                    <i class="icon fab fa-js-square"></i>
                    <div class="details">
                        <span class="title">Java Script</span>
                        <span>- 80%</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem aliquam, officiis tenetur rerum ratione ad quos quidem doloribus odit, nesciunt corrupti maxime deserunt alias!</p>
                </section>
            </div>
    
            <div class="row row-2">
                <section>
                    <i class="icon fab fa-php"></i>
                    <div class="details">
                        <span class="title">PHP</span>
                        <span>- 80%</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem aliquam, officiis tenetur rerum ratione ad quos quidem doloribus odit, nesciunt corrupti maxime deserunt alias!</p>
                </section>
            </div>

            <div class="row row-1">
                <section>
                    <i class="icon fab fa-java"></i>
                    <div class="details">
                        <span class="title">Java</span>
                        <span>- 80%</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem aliquam, officiis tenetur rerum ratione ad quos quidem doloribus odit, nesciunt corrupti maxime deserunt alias!</p>
                </section>
            </div>
    
            <div class="row row-2">
                <section>
                    <i class="icon fab fa-react"></i>
                    <div class="details">
                        <span class="title">React</span>
                        <span>- 80%</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem aliquam, officiis tenetur rerum ratione ad quos quidem doloribus odit, nesciunt corrupti maxime deserunt alias!</p>
                </section>
            </div>

            <div class="spacing"></div>
        </div>
    </div>
</div>