<div id="homeHtml" class="">
    <div class="my-5 mx-5 pb-5" id="firstSection">
        <div class="jumbotron text-center mb-0">
            <div class="container">
                <h1 class="jumbotron-heading">Bem-Vindo</h1>
                <p class="lead">
                    Ja pensou em uma forma diferente de fazer sua apresentação para um emprego?
                </p>
                <p class="lead">
                    Ja pensou na facilidade de um site interaticvo com todas as informações?
                </p>
                <p class="lead">
                    Aqui esta um prototipo do mesmo.
                </p>
                <p class="btn-secao">
                    <a href="#voltar" class="btn">Voltar</a>
                    <a href="#avancar" class="btn">Avançar</a>
                </p>
            </div>
        </div>
        <div class="container text-center" id="allCurriculo" >
            <div class="row">
                <div id="curriculo" class="col-sm mx-3">
                    <h2>Lorem.</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates, non!</p>
                    <p>
                        <a class="btn" type="button" id="botaoMais">Mais</a>
                    </p>
                </div>
                <div id="curriculo" class="col-sm mx-3">
                    <h2>Lorem, ipsum.</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti commodi impedit, quod.</p>
                    <p>
                        <a class="btn" type="button" id="botaoMais">Mais</a>
                    </p>
                </div>
                <div id="curriculo" class="col-sm mx-3">
                    <h2>Lorem, ipsum dolor.</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, ipsam?</p>
                    <p>
                        <a class="btn" type="button" id="botaoMais">Mais</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>