<div id="homeHtml" class="">
    <div class="my-5 mx-5 pb-5" id="firstSection">
        <div class="jumbotron text-center mb-0">
            <div class="container">
                <h1 class="jumbotron-heading">Lorem, ipsum dolor.</h1>
                <p class="lead text-muted">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Nisi obcaecati est soluta quaerat. 
                    Hic provident numquam molestiae laboriosam saepe beatae sint expedita incidunt voluptatum alias ad quas eaque rem repellendus eius inventore quam quaerat cumque, commodi ducimus nisi possimus eveniet voluptates! 
                    Sunt exercitationem, officiis debitis, tenetur ipsa explicabo, quas quae dolore rem ad nostrum dolorum.
                </p>
                <p>
                    <a href="#" class="btn btn-info">Voltar</a>
                    <a href="#" class="btn btn-info">Avançar</a>
                </p>
            </div>
        </div>
        <div class="container text-center" id="allCurriculo" >
            <div class="row">
                <div id="curriculo" class="col-sm mx-3">
                    <h1 >Lorem.</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates, non!</p>
                    <p>
                        <a class="btn" type="button" id="botaoMais">Mais</a>
                    </p>
                </div>
                <div id="curriculo" class="col-sm mx-3">
                    <h1>Lorem, ipsum.</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti commodi impedit, quod.</p>
                    <p>
                        <a class="btn" type="button" id="botaoMais">Mais</a>
                    </p>
                </div>
                <div id="curriculo" class="col-sm mx-3">
                    <h1>Lorem, ipsum dolor.</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, ipsam?</p>
                    <p>
                        <a class="btn" type="button" id="botaoMais">Mais</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class=" my-5 mx-5" id="secondSection">
        <div id="projetoHtml" class="jumbotron text-center mb-0">
            <h2>
                |HTML|
            </h2>
            <p>
                Conhecimentos em bootstrap
            </p>
            <p>
                Conhecimentos em 
            </p>

            <button class="btn">Saiba mais</button>
        </div>
        <div id="projetoJs" class="jumbotron text-center mb-0">
            <h2>
                |JavaScript|
            </h2>
            <p>
                Conhecimentos React
            </p>
            <p>
                Conhecimentos em
            </p>

            <button class="btn">Saiba mais</button>
        </div>
    </div>
</div>