/*Fontes*/
@font-face {
    font-family: 'Gotich';
    src: url('../font/alternate-gothic-no-2.otf');
    font-weight: normal;
    font-style: normal;
}

/* geral */
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Gotich' !important;
}

label{
    color: white;
}

#curriculo{
    background-color: rgb(231, 228, 228) ;
    height: 700px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#curriculo h2{
    margin-top: 20px;
    color: black;
}

#curriculo p{
    color: rgba(0, 0, 0, 0.822);
}

#botaoMais{
    color: black !important; 
    font-weight: bold;
    background-color: rgb(231, 228, 228);
    box-shadow: 4px 4px 8px 0 rgba(4, 0, 49, 0.25),
    -2px -2px 12px 0 rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 5px;
}

#botaoMais:hover{
    color: black !important; 
    font-weight: bold;
    background-color: rgb(202, 202, 202);
    box-shadow: 4px 4px 8px 0 rgba(4, 0, 49, 0.25),
    -2px -2px 12px 0 rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 5px;
}

#contactView{
    background-color: white;
}

#firstSection{
    background-image: url('../img/background-stars.png') !important;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

#secondSection{
    background-color: #131E3C;
    border-radius: 10px;
}

#secondSection p, h2{
    color: #999C9F;
}


/*bootstrap*/

.navbar-nav{
    font-size: 20px;
}

.jumbotron {
    background-color: rgba(0, 255, 255, 0);
    color: white;
    border-radius: 0px !important;
  }

.btn{
    background-color: skyblue;
    box-shadow:0 5px 5px rgb(72, 109, 124);
}

.btn:hover{
    background-color: rgb(89, 135, 153);
    box-shadow:0 5px 5px rgb(37, 56, 63);
}

/*icones*/

.icone{
    width:40px;
}